# This file is controlled and updated via PRs by the Automation repo and should not be edited manually.
# This file can be edited in the Automation repo here: https://github.com/aderant/automation/tree/main/frontend
# This file can be edited in certain cases if its needed, and a PR will be opened when upstream changes are made.

# Ignore artifacts:
**/node_modules
**/dist
**/build
**/coverage
**/.cache
**/.nvmrc
**/.prettierrc
**/eslint.config.js
**/tsconfig.json
